{{selected_locations}}

총 개수: {{data.totCnt}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<hr>
{% for subject in subjects %}
<div class="jejumap-item" id="jejumap-item-hangyeong">
    <input type="checkbox" class="jejumap-check te-elem" id="check-area-{{ forloop.counter }}" data-city="notJcity" name='rad_sub' value='{{ subject }}'>
    <div class="mapshape"></div>
    <label class="jejumap-item-title te-elem" for="check-area-{{ forloop.counter }}">{{ subject }}</label>
</div>
{% endfor %}
<button type="submit" class="Search">진료과목 찾기</button>

<input type="text" id="search_subject">
<hr>
<table>
{% for i in data.data %}
    <!--라디오 버튼을 눌렀을 때-->
    {% if selected_locations %}
        {% for j in selected_locations %}
        {% if j in i.addressDoro %}
            <tr>
                <td><a href="{% url 'hospitaldetail' i.companyName %}" value="{{i.companyName}}">{{i.companyName}}</a></td>
                <td>{{i.licensingDate}}</td>
                <td>{{i.addressDoro}}</td>
                <td>{{i.medicalWorkerCount}}</td>
                <td>{{i.patientRoomCount}}</td>
                <td>{{i.medicalSubject}}</td>
            </tr>
        {% endif %}
        {% endfor %}
    <!--라디오 버튼을 누르지 않고 넘겼을 때-->
    {% else %}
        {{i}}
    {% endif %}
{% endfor %}
</table>

<script>
    let search = document.querySelector('.Search');
    search.addEventListener('click', e=>{
        var subject = $('input[name=rad_sub]:checked').val();
        // alert(subject);
        document.getElementById('search_subject').value = subject;
    })
    
</script>